<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name='description' content='{{title}}'>
	<meta http-equiv='content-language' content='en-us'>
	<link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<a href="/">Home</a>
<h1>{{heading}}</h1>

    {% for row in data %}
        <a href="{{row[1]}}"><h3></b>{{row[0]}}</h3></a>
		shared by: </b><a href="https://twitter.com/{{row[3]}}"><b>{{row[3]}}</b></a>  on {{row[2]}}
    <hr/>>

        {% endfor %}
<br/><br/>
<a href="/">Home</a>

</body>
