<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name='description' content='{{title}}'>
	<meta http-equiv='content-language' content='en-us'>
	<link rel="shortcut icon" href="/favicon.ico">

</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
| <a href="/">Home</a> | <a href="/users">Users</a> |

    {% for row in data %}
        <p><a href="users/{{row[0]}}">Jobs shared by @{{row[0]}}</a></p>
    

        {% endfor %}


        
   
<br/><br/>
| <a href="/">Home</a> | <a href="/users">Users</a> |

</body>
